* {
    box-sizing: border-box;
}

body {
    background: rgb(200 200 060);
    text-decoration-color: white;
}

/* grid layout */
.grid-container {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas:
        "header header header header header"
        "nav nav nav nav nav"
        "section section section aside aside"
        "footer footer footer footer footer"
}

header {
    grid-area: header;
}

aside {
    grid-area: aside;
}

section {
    grid-area: section;
}

footer {
    grid-area: footer;
}

/* nav-bar */
nav {
    grid-area: nav;
}

nav ul {

}

nav li {

}

/* footer */
footer {
    grid-area: footer;
    display: -webkit-inline-flex: ;
    -moz-inline-flex: ;
    -ms-inline-flex: ;
    -o-inline-flex: ;
    inline-flex: ;
}
